<div class="row mt-5">
  <div class="col-4"></div>
  <div class="col-4">
    <%= link_to admins_users_path do %>
      <div class="btn btn-secondary btn-lg btn-block">会員管理</div>
    <% end %>
  </div>
  <div class="col-4"></div>
</div>
<div class="row mt-5">
  <div class="col-4"></div>
  <div class="col-4">
    <%= link_to admins_inquiries_path do %>
      <div class="btn btn-secondary btn-lg btn-block">
        お問い合わせ確認
        <% if @inquiry_number != 0 %>
          <span class="text-danger">(未対応あり)</span>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-4"></div>
</div>
