<div class="row mt-5">
  <div class="col-4"></div>
  <div class="col-4">
    <%= link_to admins_users_path do %>
      <div class="btn btn-secondary btn-lg btn-block">会員管理</div>
    <% end %>
  </div>
  <div class="col-4"></div>
</div>
<div class="row mt-5">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="btn btn-secondary btn-lg btn-block">お問い合わせ確認</div>
  </div>
  <div class="col-4"></div>
</div>
