<div class="row mt-5">
  <div class="col-4"></div>
  <div class="col-4">
    <%= link_to admins_users_path do %>
      <div class="btn btn-info btn-lg btn-block">会員管理</div>
    <% end %>
  </div>
  <div class="col-4"></div>
</div>
<div class="row mt-5">
  <div class="col-4"></div>
  <div class="col-4">
    <%= link_to admins_inquiries_path do %>
      <div class="btn btn-info btn-lg btn-block">
        お問い合わせ確認
        <% if Inquiry.count_by_status(0) != 0 %>
          <span class="text-warning"> (<%= Inquiry.count_by_status(0) %>)</span>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-4"></div>
</div>
