<h1 class="text-secondary">Tag検索</h1>
<P class="text-danger">ページング、新しい順に並び替え、自分の投稿を追加</P>

<div class="row mt-5">
   <% @articles.each do |article| %>
    <%= render :partial => "users/articles2", :locals => {:article => article} %>
   <% end %>
</div>

