<!-- -----------------------プロフィール------------------------------------ -->
<%= render :partial => "users/profile", :locals => {:user => @user} %>


<!-- ------------------------------------------------------------------ -->

<!-- 投稿一覧 -->
<div class="row" id="profile-content">
  <%= render :partial => "users/article", :locals => {:user => @user} %>
</div>
