<%= render :partial => "users/profile", :locals => {:user => current_user} %>
<h1 class="text-secondary">Timeline</h1>

<div class="row mt-5">
  <% @articles.each do |article| %>
    <%= render :partial => "users/articles2", :locals => {:article => article} %>
  <% end %>
</div>