<div class="row pt-5">
  <div class="col-2"></div>
    <div id="map-container"></div>
</div>
<%= render 'layouts/search_form' %>

<div class="row mt-5 mb-2">
  <h2><%= t '.new_article' %></h2>
</div>

<div class="row" id="profile-content">
  <% @articles.each do |article| %>
    <%= render :partial => "users/articles2", :locals => {:article => article} %>
  <% end %>
</div>
