<div class="row mt-5" id="tag-box">
  <div class="col-6">
      <div class="row p-2">
        <div class="col-12">
          <div class="row border bprder-secondar shadow rounded">
            <div class="col-6"></div>
            <div class="col-6 tokyo"></div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-6">
      <div class="row p-2">
        <div class="col-12">
          <div class="row border bprder-secondar shadow rounded">
            <div class="col-6"></div>
            <div class="col-6 sizuoka"></div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-6">
      <div class="row p-2">
        <div class="col-12">
          <div class="row border bprder-secondar shadow rounded">
            <div class="col-6"></div>
            <div class="col-6 nara"></div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-6">
      <div class="row p-2">
        <div class="col-12">
          <div class="row border bprder-secondar shadow rounded">
            <div class="col-6"></div>
            <div class="col-6 kyoto"></div>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="row mt-5 mb-2">
  <h2><%= t '.new_article' %></h2>
</div>

<div class="row" id="profile-content">
  <% @articles.each do |article| %>
    <%= render :partial => "users/articles2", :locals => {:article => article} %>
  <% end %>
</div>