<div class="row">
  <div class="col-12 mt-2 mb-2 pl-2">
    <h2 class="text-left border-bottom border-lights">会員一覧</h2>
  </div>
</div>
<!-- グラフ挿入-->
<div class="row pt-2 pb-2">
  <% @users.each do |user| %>
    <div class="col-5 border border-light pt-3 pb-3 mb-5 bg-white">
      <div class="row">
        <div class="col-3">
          <%= attachment_image_tag user, :profile_image, :fill, 100, 100, class: "rounded-circle", fallback: "no_image.png", size: '100*100' %>
        </div>
        <div class="col-5">
          <%= link_to admins_user_path(user) do %>
            <%= user.name %>
          <% end %>
        </div>
        <div class="col-4">
        </div>
      </div>
    </div>
    <div class="col-1 mb-5"></div>
  <% end %>
  <%= paginate @users %>
</div>