<div class="row mt-5">
  <div class="col-12">
    <h1 class="text-center">TABILOG</h1>
    <p class="text-center">ページが表示できません。</p>
    <p class="text-center">ご不便をおかけし申し訳ございません。</p>
    <p class="text-center">このページが繰り返し表示される場合はお問い合わせまでお願いいたします。</p>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <%= link_to root_path do %>
          <div class="btn btn-info">トップページへ戻る</div>
        <% end %>
        <%= link_to new_inquiry_path do %>
          <div class="btn btn-info">お問い合わせ</div>
        <% end %>
      </div>
      <div class="col-4"></div>
  </div>
</div>