.tabilog-logo {
  background-image: image-url("marker1.png");
  background-size: contain;
  height: 40px;
  width: 40px;
}

.tokyo {
  background-image: image-url("kyoto.jpg");
  background-size: cover;
  height: 200px;
}

.kyoto {
  background-image: image-url("nara.jpg");
  background-size: cover;
  height: 200px;
}

.sizuoka {
  background-image: image-url("sizuoka.jpg");
  background-size: cover;
  height: 200px;
}

.nara {
  background-image: image-url("tokyo-tag.jpg");
  background-size: cover;
  height: 200px;
}