<footer class="bg-light mt-5 p-5 border-top border-light">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <%= link_to 'photo', new_photo_path %>
      </div>
      <div class="col-3">
        <h5>言語切替</h5>
        <a href="/en">English</a>
        <a href="/ja">日本語</a>
      </div>
      <div class="col-3">
        <%= link_to 'お問い合わせ', new_inquiry_path %></p>
      </div>
    </div>
  </div>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap"></script>
</footer>