<footer class="bg-light mt-5 p-5 border-top border-light">
  <div class="container">
    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-3">
        <h5 class="text-secondary border-bottom border-dark">- ヘルプ</h5>
      </div>
      <div class="col-3">
        <h5 class="text-secondary border-bottom border-dark">- <%= t '.languageswitching' %></h5>
        <a href="/en" class="text-info">English</a> |
        <a href="/ja" class="text-info">日本語</a>
      </div>
      <div class="col-3">
        <h5 class="text-secondary border-bottom border-dark">- 情報</h5>
        <%= link_to "#{t '.inquiry'}", new_inquiry_path, class: "text-info" %></p>
      </div>
    </div>
  </div>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap"></script>
</footer>