<footer class="bg-dark mt-5 pt-5 border-top border-light">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h4 class="text-light">TABILOG</h4>
        <div class="tabilog-logo"></div>
      </div>
      <div class="col-3">
      </div>
      <div class="col-3">
        <h5 class="text-white border-bottom border-white">- <%= t '.languageswitching' %></h5>
        <a href="/en" class="text-white">English</a> <span class="text-white">|</span>
        <a href="/ja" class="text-white">日本語</a>
      </div>
      <div class="col-3">
        <h5 class="text-white border-bottom border-white">- <%= t '.information' %></h5>
        <%= link_to "#{t '.inquiry'}", new_inquiry_path, class: "text-white" %></p>
      </div>
    </div>
    <div class="row">
      <p class="text-white mt-2">©︎ 2020 Chihiro Fujimori</p>
    </div>
  </div>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap"></script>
</footer>