<div class="row mt-3">
  <div class="col-2"></div>
  <div class="col-6">
    <%= form_tag(spot_search_articles_path, :method => 'get' ) do %>
      <%= text_field_tag :search, "", class: "form-control mb-2" %>
      <div class="d-flex flex-row-reverse">
        <%= submit_tag "#{t '.search'}", class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
  <div class="col-4"></div>
</div>